$icon-text-margin:	4px;

/*** Custom modifications to bootstrap (must be done after inclusion) ***/

body {
	font-family: "Open Sans", sans-serif;
}

pre, code, .code {
	font-family: "Source Code Pro", "Consolas", "Inconsolata", "Droid Sans Mono", "Monaco", monospace;
}

.spinner-big {
	width: 5rem;
	height: 5rem;
}

nav.navbar.transparent {
	background: transparent !important;
}

/*** Custom CSS ***/

div.frame-center {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	margin: 0 auto;
}

.icon-text-left {
	margin-right: $icon-text-margin;
}
.icon-text-right {
	margin-right: $icon-text-margin;
}

.input-block {
	margin-bottom: 1rem;
}

