/*** Modifications to bootstrap ***/

body {
	font-family: "Open Sans", sans-serif;
}

pre, code, .code {
	font-family: "Source Code Pro", "Consolas", "Inconsolata", "Droid Sans Mono", "Monaco", monospace;
}

.spinner-big {
	width: 5rem;
	height: 5rem;
}
